@media screen and (min-width: 769px) {
  @font-face {
      font-family: 'Poppins';
      src: url('Poppins/Poppins-Regular.ttf') format('truetype');
      font-weight: 400;
    }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    height: 110vh /* 130vh */;
    font-family: 'poppins', Sans-Serif;
  }
  .content {
    text-align: center;
    margin: auto;
    position: fixed;
    top: 900px;
  }
  .box {
    position: relative;
    bottom: 327px /* 325px */;
    background: transparent;
    z-index: 1000;
  }
  .contain {
    position: fixed;
    padding: 2rem;
    width: 450px /* 343px */;
    background: white;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 1px 2px 1px #0003;
    padding-bottom: 45px /* 150px */;
    box-sizing: border-box;
    margin-top: 17px;
  }
  h2 {
    background: transparent;
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 6px;
  }
  .text {
    background: transparent;
    font-size: .95rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 0 /* 12px */;
  }
  form {
    width: 100%;
  }
  input {
    padding: 12px 14px;
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: 1px solid #ddd;
    margin: 10px 0;
    color: black;
    font-size: .95rem;
    font-weight: 500;
    transition: .25s;
  }
  input:focus {
    color: black;
    border: 2px solid #ddd;
    box-shadow: 0 0 8px black;
  }
  input::placeholder {
    color: #666;
  }
  .alr {
    font-size: .85rem;
    font-weight: 500;
    color: #666;
    float: left;
    left: 0;
    margin-top: 10px;
  }
  .alr a {
    margin-top: 100px;
    text-decoration: none;
    color: black;
  }
  .for {
    font-size: .85rem;
    font-weight: 500;
    color: #666;
    float: right;
    right: 0;
    margin-top: 10px;
  }
  .for a {
    margin-top: 10px;
    text-decoration: none;
    color: black;
  }
  button {
    position: relative;
    padding: 14px;
    width: 100%;
    background: black /* rgba(76, 55, 2, 0.90) */;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border-radius: 12px;
    /* margin-top: 20px; */
  }
  .or {
    position: relative;
    padding: 10px;
    width: 40px;
    background: transparent;
    color: black;
    border-radius: 50%;
    text-align: center;
    top: 20px /* 20px */;
    margin: 0 auto;
    font-size: .95rem;
    font-weight: 500;
    backdrop-filter: blur(30px);
  }
  hr {
    width: 100%;
  }
  .space {
    position: relative;
    padding: 14px;
    width: 100%;
    background: black /* rgba(76, 55, 2, 0.90) */;
    border: none;
    font-weight: 700;
    font-size: .85rem;
    color: white;
    border-radius: 12px;
    margin-top: 15px;
    /* margin-top: 20px; */
  }
}

@media screen and (max-width: 768px) {
  @font-face {
      font-family: 'Poppins';
      src: url('Poppins/Poppins-Regular.ttf') format('truetype');
      font-weight: 400;
    }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    height: 110vh /* 130vh */;
    font-family: 'poppins', Sans-Serif;
  }
  .content {
    text-align: center;
    margin: auto;
    position: fixed;
    top: 330px /* 333px */;
  }
  .box {
    position: relative;
    bottom: 327px /* 325px */;
    background: transparent;
    z-index: 1000;
  }
  .contain {
    position: fixed;
    padding: 1rem;
    width: 370px /* 343px */;
    background: white;
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 1px 2px 1px #0003;
    padding-bottom: 40px /* 150px */;
    box-sizing: border-box;
    margin-top: 17px;
  }
  h2 {
    background: transparent;
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1px;
  }
  .text {
    background: transparent;
    font-size: .95rem;
    font-weight: 500;
    color: #666;
    margin-bottom: 0 /* 12px */;
  }
  form {
    width: 100%;
  }
  input {
    padding: 10px 12px;
    width: 100%;
    border-radius: 12px;
    outline: none;
    border: 1px solid #ddd;
    margin: 10px 0;
    color: black;
    font-size: .95rem;
    font-weight: 500;
    transition: .25s;
  }
  input:focus {
    color: black;
    border: 2px solid #ddd;
    box-shadow: 0 0 8px black;
  }
  input::placeholder {
    color: #666;
  }
  .alr {
    font-size: .85rem;
    font-weight: 500;
    color: #666;
    float: left;
    left: 0;
    margin-top: 10px;
  }
  .alr a {
    margin-top: 100px;
    text-decoration: none;
    color: black;
  }
  .for {
    font-size: .85rem;
    font-weight: 500;
    color: #666;
    float: right;
    right: 0;
    margin-top: 10px;
  }
  .for a {
    margin-top: 10px;
    text-decoration: none;
    color: black;
  }
  button {
    position: relative;
    padding: 14px;
    width: 100%;
    background: black /* rgba(76, 55, 2, 0.90) */;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border-radius: 12px;
    /* margin-top: 20px; */
  }
  .or {
    position: relative;
    padding: 10px;
    width: 40px;
    background: transparent;
    color: black;
    border-radius: 50%;
    text-align: center;
    top: 20px /* 20px */;
    margin: 0 auto;
    font-size: .95rem;
    font-weight: 500;
    backdrop-filter: blur(30px);
  }
  hr {
    width: 100%;
  }
  .space {
    position: relative;
    padding: 14px;
    width: 100%;
    background: black /* rgba(76, 55, 2, 0.90) */;
    border: none;
    font-weight: 700;
    font-size: .85rem;
    color: white;
    border-radius: 12px;
    margin-top: 15px;
    /* margin-top: 20px; */
  }
}